@import "tailwindcss";

body {
  @apply bg-[#F3F4F6] dark:bg-zinc-900;
  font-family: 'Inter', sans-serif;
  margin: 0;
  overflow: hidden;
}

.jetbrains-mono {
  font-family: 'JetBrains Mono', monospace;
}
